* {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;

}

body{
    width:100vw;
    height:100vh;
    margin:0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

header{
    position: fixed;
    display: flex;
    align-content:flex-end;
    background: none;
}


.parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-image: url('images/back.png');
    background-position: center;
    background-size: cover;
    row-gap: 4rem;
    text-align: center;
    overflow-x: hidden;
}

.hero-section{
    justify-content: flex-start;
}


.hero-section h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),5px 5px 70px rgba(255, 255, 255, 0.5);
    font-family: 'Franklin Gothic Medium';
    color: #ffffff;
    font-weight: bolder;
    font-size:10vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 10vw;;
    letter-spacing: 10px;
    transform: translateZ(-0.5px);
}


h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    margin:0;
    color:rgba(41, 40, 57, 1);
    letter-spacing: 2px;  
}


.text-grid{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.shadow{opacity: 0.5;}
.hide{display:none;}

.bottom-section{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;     
    bottom: 0;
    z-index: 3;
}

.hero-img{
    position: absolute;
    width: 60vh;   
    height: auto;
    object-fit: cover;
    bottom:0;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    z-index: 2;
}

.last-name{
    position: absolute;
    bottom: 5vw;
    z-index: 3;
}

.semicircle{
    position: absolute;
    width: 80vh;   
    height: 40vh;   
    background: #9F7286;  
    border-radius: 80vh 80vh 0 0; 
    bottom: 0;          
    left: 50%;         
    transform: translateX(-50%);       
}


  .buffer {
    width: 100%;
    min-height: 30vh;
    background-color: #9F7286;
  }

  .skills-section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6rem 0;
    background-image: url('images/skills.png');
    gap: 1.6em;
    align-items: center;
    justify-content: center;
  }

  .box{
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap:100px;
    display: flex;
    flex-direction: column;
    margin:40px;
  }

  .box h3{
    padding-bottom:20px;
  }

  .skill-grid{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    
    min-width: 150px;       
    min-height: 100px;
    
    font-size: 4vh;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    
    padding: 0 10px;      
    border-radius: 20px;
    background:#9F7286;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}




